* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
}

section {
  left: -1000px; /* remove this */
  position: absolute; /* remove this */
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  transform: rotateZ(270deg);
}

:root {
  --square-size: 20px;
  --square-size-phone: 10px;
}

/* Canvas: */

.row01,
.row02,
.row03,
.row04,
.row05,
.row06,
.row07,
.row08,
.row09,
.row10,
.row11,
.row12,
.row13,
.row14,
.row15,
.row16,
.row17,
.row18,
.row19,
.row20,
.row21,
.row22,
.row23,
.row24,
.row25,
.row26,
.row27,
.row28,
.row29,
.row30,
.row31,
.row32,
.row33,
.row34,
.row35,
.row36,
.row37,
.row38,
.row39,
.row40,
.row41,
.row42,
.row43,
.row44,
.row45,
.row46,
.row47,
.row48,
.row49,
.row50,
.row51,
.row52,
.row53,
.row54,
.row55,
.row56,
.row57,
.row58,
.row59,
.row60,
.row61,
.row62,
.row63,
.row64,
.row65,
.row66,
.row67,
.row68,
.row69,
.row70,
.row71,
.row72,
.row73,
.row74,
.row75,
.row76,
.row77,
.row78,
.row79,
.row80,
.row81,
.row82,
.row83,
.row84,
.row85,
.row86,
.row87,
.row88,
.row89,
.row90 {
  display: flex;
  width: fit-content;
  height: fit-content;
}

/* Canvas squares */

.square {
  width: var(--square-size);
  height: var(--square-size);
  background-color: inherit;
  margin: 1px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateZ(90deg);
}

/* Stitches: */

.rd div {
  background-color: red;
}

.blck div {
  background-color: #000;
}

.stitch1,
.stitch2 {
  width: calc(var(--square-size) * 2);
  height: 7px;
  position: relative;
  left: calc(-1 * (var(--square-size) / 6)); /* -5px */
  opacity: 100%;
}

.stitch1 {
  transform: rotate(45deg);
}

.stitch2 {
  transform: rotateZ(-45deg);
}
